<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.walfi.mapper.BankMapper">

    <select id="findMainAccountNumber" resultType="int" parameterType="String">
        SELECT
            CASE
                WHEN count(*) != 0 THEN TRUE
                ELSE FALSE
            END AS `count`
        FROM account a
        WHERE `대표계좌`= #{mainWithdrawalAccountNumber};
    </select>

    <select id="findSubAccountNumberByCurrencyCode" resultType="String" parameterType="String">
        SELECT
            a.계좌번호
        FROM account a
        WHERE
            `대표계좌`= #{mainWithdrawalAccountNumber} AND
            `통화` = #{currencyCode};
    </select>

    <select id="checkSufficientMoneyForTransfer" resultType="int" parameterType="Map">
        SELECT
            CASE
                WHEN a.`잔액(원화)` >= #{transferMoney} THEN TRUE
                ELSE FALSE
            END AS `result`
        FROM account a
        WHERE `계좌번호` = #{subAccountNumber};
    </select>
</mapper>